<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get-it</title>
<link rel="stylesheet" href="/static/templates/styles/style.css">
<link 
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
          rel="stylesheet">
</head>
<body>
<header>
<img
class="logo" 
src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}">
<h1 class="logo-texto">Editar Anotação</h1>
</header>
  <form class="add_note" action="/update/{id}" method="POST">
    <label for="titulo">Título</label>
        <input id="titulo" type="text" name="titulo" value="{title}" required />
    <label for="detalhes">Detalhes</label>
        <input id="detalhes" name="detalhes" value="{content}" required /> 
    <label for="envio"></label>
    <button id="save-btn" class="btn-submit" type="submit">Salvar</button>
  </form>
  <form class="cancel_note" action="/" method="GET">
    <input id="cancel-btn" name="edit_cancel" class="btn-submit" type="submit" value="Cancelar"/>
  </form>

</body>
</html>
