<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get-it</title>
<link rel="stylesheet" href="static/templates/styles/style.css">
</head>
<body>
<header>
<img
class="logo" 
src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}">
<h1 class="logo-texto">Como o Post-it, mas com outro verbo</h1>
</header>
  <form action="/submit" method="POST">
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" required />
    <label for="detalhes">Detalhes</label>
    <input id="detalhes" name="detalhes" required />
    <input type="submit" />
  </form>

<ul>
{notes}
</ul>

</body>
</html>